html, body, #root, .App, .App>.App-main {
	height: 100%
}

.App-main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;

	background-color: #8a8a8a;
}
